@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navigation{
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 50px;
  font-weight: 400;
  font-size: 14pt;
  margin-bottom: 10px;
  justify-content: start;
  background-color: #333;
  column-gap: 20px;
  padding-top: 10px;
}
#maintitle{
  font-size: 16pt;
  transform: translateY(3px);
  transform: translateX(8px);
  color:#f4c2c2;
  grid-column-start: 1;
  grid-column-end: 1;
}
#maintitlelink{
  color:#f4c2c2;
  text-decoration: none;
}
#maintitlelink:hover{
color: rgb(171, 171, 171);
  text-decoration: none;
}
#aboutus{
  grid-column-start: 3;
  grid-column-end: 3;
  transform: translateY(3px);
  transform: translateX(8px);
}
#aboutuslink{
  color: rgb(171, 171, 171);
  text-decoration: none;
}
.dropdown {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 2;
    color: rgb(171, 171, 171);
    text-decoration: none;
    transform: translateY(3px);
    transform: translateX(8px);  
    z-index: 15;
  }
#dropbtn{
  color: rgb(171, 171, 171);
  text-decoration: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  font-size: 12pt;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;text-decoration: none; color: black;}

.dropdown:hover .dropdown-content {
  display: block;
}
 .arrow {
  border: solid rgb(171, 171, 171);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 4px;
  margin-bottom: 3px;

}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

 .bottom-bar{
    white-space: nowrap;
    background-color: #333;
    display: inline-block;
    text-align: center;
    height: 50px;
    font-size: 12pt;
    margin-top: 30px;
    width: 100%;
    z-index: 10;
}

.bottom-bar *{
    display: inline;
    justify-content: center;
    margin-top: 10px;
    z-index: 10;
}
#bar-text{
    color: #f4c2c2;
    z-index: 10;
}


.fa-instagram{
  color: white;
  size: 50px;
}

.fa-instagram:hover{
  color: #fff;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  transition: all .1s linear;
  cursor: pointer;
}

.fa-whatsapp{
  color: white;
  font-size: 38px;
}

.fa-whatsapp:hover{
  color: #25D366;
  transition: all .1s linear;
  cursor: pointer;
}

.fa-facebook{
  color: white;
  font-size: 38px;
}

.fa-facebook:hover{
  color: #3B5998;
  transition: all .1s linear;
  cursor: pointer;
}

.fa-linkedin{
  color: white;
  font-size: 38px;
}

.fa-linkedin:hover{
  color: #0077b5;
  transition: all .1s linear;
  cursor: pointer;
}

.fa-map-marker{
  color: white;
  font-size: 38px;
}

.fa-map-marker:hover{
  color: #DB4437;
  transition: all .1s linear;
  cursor: pointer;
}